extends layout
block content
  link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  h3 #{action} page
    .form-container
      form(method="POST", enctype="multipart/form-data")
        .form-group
          label(for="title") Title
          input.form-control(type="text", name="title", id="title", value = picture.title)
        .form-group
          label(for="place") Place
          input.form-control(type="text", name="place", id="place", value = picture.place)
        .form-group
          label(for="tag") Tags
          input.form-control(type="text", name="tags", id="tags", value = picture.tags)
        .form-group
          label(for="publish") Publish
            .checkbox-container 
              input.form-control(type="checkbox", name="publish", id="publish" , value = picture.publish)
              span(class="slider round")
        .form-group
          label(for="image") Cover Image
          input.form-control(type="file", name="image", id="image")
        .form-group.hidden
          label(for="imageUrl") Cover Image URL
          input.form-control(type="text", name="imageUrl", id="imageUrl", value=picture.imageUrl)
        .form-group
          button.btn.btn-success(type="submit") Save