doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    .navbar
      a(href="/static/homepage.html") Home
      a(href="/add") Add
      a(href="/list") Explore
      a(href="/myList") MySpace
      .search-container
        form(action="/search")
          input(type="text", placeholder="Search..", name="search")
          button(type="submit")
            i(class="fa fa-search")
  body
    block content
