extends layout

block content
  h3

  mixin containers(imageUrl, imageInfo)
    .container
      .imgContainer
        img(src=imageUrl alt=imageInfo width="100%" onClick="clickFunction(this.src, this.alt)")
        .content #{imageInfo}
          button(type="submit" align="right" style="float: right;")
            i(class="fa fa fa-download")
          //- form(action="/downloadImage", method="get")
            button(type="submit" align="right" style="float: right;")
              i(class="fa fa fa-download")

  .modal(id="myModal")
    span(class="close") &times;
    img(class="modal-content" id="img01")
    .caption(id="caption")

  .row
    -var firstSet = []
    -var secondSet=[]
    -var thirdSet=[]
    -var fourthSet=[]
    each picture, index in pictures
      -var totalLength=pictures.length
      
      if index < totalLength/4
        -firstSet.push(pictures[index])
      else if index >= totalLength/4 & index < totalLength/2
        -secondSet.push(pictures[index])
      else if index >= totalLength/2 & index < 3*totalLength/4
        -thirdSet.push(pictures[index])
      else if index >= 3*totalLength/4 & index < totalLength
        -fourthSet.push(pictures[index])
    .column
      each picture in firstSet
        +containers(picture.imgUrl, picture.caption)
    .column
      each picture in secondSet
        +containers(picture.imgUrl, picture.caption)
    .column
      each picture in thirdSet
        +containers(picture.imgUrl, picture.caption)
    .column
      each picture in fourthSet
        +containers(picture.imgUrl, picture.caption)
  script.
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    function clickFunction(imgName, caption){
      modal.style.display = "block";
      modalImg.src = imgName;
      captionText.innerHTML = caption;
      console.log("Function called");
    }
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }